body {
  margin: 0;
}
.flexContainer {
  margin-bottom: 50px;
  margin: 50px;
}
.inputStyle {
  padding: 10px;
  display: inline-block;
  width: 30%;
}
.search-btn {
  border: none;
  background: lightseagreen;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: 11px;
  left: -30px;
}
.search-btn img {
  width: 25px;
  height: 27px;
  padding: 4px;
}
